body .customizer-links {
    display: none !important;
}

.header .header-left .logo img {
    width: 50px;
}

.card-services img.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.sidebar .sidebar-menu > ul > li.submenu-open ul li a {
    font-size: 13px;
}

.contactus:hover {
    color: #fff !important;
}

.contactus {
    color: #fff !important;
}

span.badge.bg-outline-success {
    color: green;
}



.header-left #toggle_btn {
    background: #efc243;
}

.btn-primary {
    background-color: #efc243 !important;
    border-color: #efc243 !important;
}

.pagination li.active a.page-link {
    background: #efc243;
    border-color: #efc243;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}

form#deleteForm4 button.btn.btn-link {
    width: 40px;
    position: relative;
    top: -8px;
}

td.docs-list div {
    display: inline-block;
}

.btn-c {
    padding: 1px 5px;
    font-size: 13px;
}


span.select2-selection__arrow {
    background: transparent !important;
    display: none !important;
}

button.btn.dropdown-toggle.btn-light {
    background: #fff !important;
    border: 1px solid #ced4da;
}

.dropdown.bootstrap-select.form-select {
    padding: 0;
    border: none;
}